.header {
    margin-left: 215px;
    white-space: nowrap;
    position: relative;
    top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu {
    margin-top: 0px;
    margin-right: 344px;
    margin-left: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.logo1 {
    color: #2196F3;
    font-size: 26px;
    margin-top: -8px;
}

.logo2 {
    color: black;
    font-size: 26px;
    margin-top: -8px;
}

.menu a {
    margin: 0;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #212121;
    left: 453px;
    transition: 1.3s ease-in-out;
}


li {
    display: inline;
    margin-right: 20px;
    left: 453px;
}

li.menu-item {
    margin: 0 0 50px 0;
}

.menu a:hover {
    color: #2196F3;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
}
button{
    background: gainsboro;
    color: black;
    padding:8px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 1px 2px gray;
    transition: 1.4s ease-in-out;
}

.a1 {
    color: #2196F3;
    text-decoration: none;
    margin-right: 32px;
    font-size: 14px;
}

.tel {
    color: #acacac;
    text-decoration: none;
    font-size: 14px;
}
button:hover{
    background: #2196F3;
    transform: scale(1.1);
}
.team-card{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.card{
    width: 370px;
    height: 404px;
    box-shadow: 0 2px 4px gainsboro;
    margin: 5px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}


.social-icons {
    
    margin: 0;
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}
.social__icon{
    width: 20px;
    height: 20px;
    transition: 1s ease-in-out;
}
.social__icon:hover{
    fill: #2196F3;
}

footer{
    width: 1600px;
    height: 252px;
    background: #2F303A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.con{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 1px;

}
.p{
    color: #acacac;
    font-size: 14px;
}
.websd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
}
.pa{
    color: #fff;
    font-size: 14px;
}
.df1{
    display: flex;
    gap: 1px;
}
.logo3{
    color: #fff;
}
.img{
    display: flex;
    gap: 5px;
    width: 30px;
    height: 30px;
}
h4{
    color: #fff;
    font-size: 12px;
}
.social_icon{
    width: 30px;
    height: 30px;
    fill:#fff;
}
.join{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}




  
  .email-input {
    width: 250px;
    padding: 10px 15px; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #ffffff; 
    background-color:#2F303A ; 
    border: 1px solid #8a8a8a; 
    border-radius: 5px; 
    outline: none; 
  }
  
  .email-input::placeholder {
    color: #8a8a8a; 
  }
  
  .email-input:focus {
    border-color: #ffffff; 
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .t999{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196F3;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 30px;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
  }
  .f{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }